textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	-moz-tab-size:2; -o-tab-size:2; -webkit-tab-size:2; tab-size:2;
}

.wrapper {
	text-align: center;
}

.error {
	color: red;
}
